body {
  font-family: 'Segoe UI', Arial;
  margin: 0;
  background: #f7f7f7;
  color: #111;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  background: white;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ff7a00;
}

/* Hero */
.hero {
  text-align: center;
  padding: 80px;
  background: linear-gradient(45deg, #ff7a00, #ffb347);
  color: white;
}

/* Products */
.products {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #eee;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  border-color: #ff7a00;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.tag {
  position: absolute;
  background: orange;
  color: black;
  padding: 5px;
}

/* Text */
.desc { color: #555; }
.price { color: #ff7a00; font-weight: bold; }

/* Buttons */
button {
  background: #ff7a00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Cart */
.cart {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border: 1px solid #ddd;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Inputs */
input {
  padding: 8px;
  border: 1px solid #ccc;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: white;
  border-top: 1px solid #ddd;
}